body{font-family: 'Lobster', cursive;
margin: 0%;}
p{font-size: 36px;}
h1{font-size: 50px;}
h3{color: orangered;
font-size: 22px;}
    .font-clr{color:orange;}
    section{display: flex;}
    .fast{width: 55%;
    padding-left: 5%;}
    .second{width: 45%;}
    .link-button{text-decoration: none;
    background-color: royalblue;
    padding: 10px 40px;
border-radius: 4px;
background-image: linear-gradient(cyan, royalblue);
color: black;
font-weight: 400;}
.bg-img{background-image: url(photo/top-banner.png);
background-repeat: no-repeat;}
.dream-big{
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}